.top-image {
  width: 100%;
  /*max-width: 1920px;
  height: 70px;
  background-image: url(../images/detail-img.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto; */
}

.back-button {
  background-color: white;
  border: none;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

.go-to-back {
  color: rgba(136, 135, 144, 1);
  text-decoration: none;
}

.click-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-like {
  text-align: right;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 23px;
  margin-top: 5px;
}

.heart-icon {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.url-copy-button {
  background-color: rgba(250, 250, 251, 1);
  border: none;
  cursor: pointer;
  margin: 0px 15px;
  padding: 0px 10px;
}

.edit-delete-button {
  background-color: rgba(250, 250, 251, 1);
  border: none;
  cursor: pointer;
  padding: 0px 10px;
}

.password-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  border: 1px solid white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: fixed;
  margin: 0px -350px;
  padding: 30px 30px;
  gap: 15px;
  box-shadow: 0 0 10px rgb(169, 169, 169);
  z-index: 10;
}

.password-messege {
  color: black;
}

.input-password {
  height: 45px;
  width: 120%;
  border-radius: 8px;
  border: 1px solid rgba(221, 220, 223, 1);
  padding: 10px;
  z-index: 11;
}

.check-button {
  width: 98px;
  height: 36px;
  border-radius: 37px;
  background-color: $brand-blue;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.cancel-button {
  width: 98px;
  height: 36px;
  border-radius: 37px;
  background-color: $brand-red;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.famous-item-title {
  font-size: 16px;
  font-weight: 600;
  width: 60px;
  height: 19px;
  line-height: 100%;
  margin-top: 25px;
}
