@charset "UTF-8";
// "UTF-8" 왜 필요한가?
// 한글이나 특수문자가 들어간 경우, 인코딩 오류를 방지하려고 써.
// 브라우저가 제대로 읽도록 보장해 주는 역할도 해.
// SCSS를 CSS로 컴파일할 때, 그 결과물 CSS의 제일 위에 @charset이 있어야 유효해.

//@import '../scss/setting.scss'; 이런식으로 import 시켜주세요!

// 공통 컴포넌트 scss
@import './Setting.scss';
@import './Header.scss';
@import './Button.scss';

// 메인 페이지에서 사용되는 scss
@import './ShopList/ShopList.scss';
@import './ShopCard/ShopCard.scss';
@import './ShopProfile/ShopProfile.scss';
@import './ShopLike/ShopLike.scss';

// 상세페이지 scss
@import '../scss/ProFileDetail.scss';
@import '../scss//DetailPageItemList.scss';

// 생성하기 scss
@import '../scss/Create/CreateRepItem.scss';
@import '../scss/Create/CreateRepItemImageUploader.scss';
@import '../scss/Create/Create.scss';
@import '../scss/Create/CreateShopInfo.scss';
@import '../scss/Create/CreateMyshop.scss';

// 대표 상품 scss

@import '../scss/EditDeleteModal.scss';

@import './NoResult/NoResult.scss';
@import './SearchBar/SearchBar.scss';
@import './FilterModal/FilterModal.scss';
@import './ThumbnailList/ThumbnailList.scss';
// 내쇼핑몰 scss
@import '../scss/Edit/EditMyshop.scss';
@import '../scss/Edit/EditRepItem.scss';
