.no-result {
  position: absolute;
  top: 324px;

  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 375px;
    height: 182px;
  }

  p {
    color: #14151a;
    font-family: $font-family-base;
    font-size: 17px;
    margin: 4px 0;
  }
}

@media (max-width: 1199px) {
  .no-result {
    top: 316px;
  }
}

@media (max-width: 767px) {
  .no-result {
    top: 268px;
  }
}
