.shop-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  margin-top: 32px;

  // 각 카드가 전체의 반에서 gap 절반(12px)을 뺀 만큼의 고정 너비를 가지게하는 스타일
  > * {
    flex: 0 0 calc(50% - 12px);
  }
}

.shop-list-container {
  min-height: 100vh;
  overflow-y: auto;
}

.shop-filter-toggle {
  border: none;
  background: none;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: $font-weight-medium;
  cursor: pointer;
  margin-bottom: 20px;
}

.shop-filter-toggle-icon {
  width: 9px;
  height: 8px;
}

.shop-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-list-end {
  margin-bottom: 65px;
}

@media (max-width: 1199px) {
  .shop-list {
    margin-top: 28px;
  }

  .shop-list > * {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .shop-list {
    margin-top: 20px;
  }

  .shop-list > * {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
