h5 {
  font-size: 14px;
  font-weight: 600;
  color: $text-black;
}

.repitem-txt-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  .repitem-txt {
    width: 100%;
    max-width: 696px;
    display: flex;
    justify-content: space-between; // h5 두 개 양쪽 배치
    padding-bottom: 16px;

    h5 {
      font-size: 16px;
      font-weight: 600;
      color: $text-black;
    }
  }

  .repitem-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .repitem-wrap {
      width: 100%;
      max-width: 696px;
      margin: 0;

      .item-input-wrap {
        width: 100%;
        max-width: 696px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
.content-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  .rep-item-name {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .content-comment {
      font-size: 14px;
      color: #888;
    }
  }
  .add-file {
    width: 76px;
    height: 31px;
    padding: 6px 9px;
    background: white;
    border: 2px solid #3b50e0;
    color: #3b50e0;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;

    &:hover {
      background: #f0f3ff;
    }
  }
}
