@use '../Setting.scss' as *;

.shop-card {
  background-color: $text-white-600;
  border-radius: 25px;
  width: 587px;
  height: 237px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.shop-card-header {
  display: flex;
  justify-content: space-between;
}
