.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1199px;
  height: 55px;
  border: 1px solid $text-gray-300;
  border-radius: 49px;
  padding: 0 20px;
  margin-top: 68px;
  background-color: $text-white-300;
  margin-bottom: 40px;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}

.search-bar-input {
  border: none;
  outline: none;
  width: 100%;
  height: 21px;
  font-size: 18px;
  font-weight: $font-weight-regular;
  color: $text-black;
}

@media (max-width: 1199px) {
  .search-bar-container {
    margin-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .search-bar-container {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}
