@use '../Setting.scss' as *;

.page-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

.shop-card {
  background-color: $text-white-600;
  border-radius: 25px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.shop-card-header {
  display: flex;
  justify-content: space-between;
}

.render-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

  flex-direction: row;
  justify-content: flex-start;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.item-name {
  background-color: $text-white-600;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  width: calc(50% - 10px);
  min-width: 280px;
  padding: 16px;
  border-radius: 24px;

  @media (max-width: 767px) {
    width: 100%;
    min-width: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.item-image {
  background-color: $text-white-600;
  border-radius: 8px;
  width: 80px;
  height: 80px;

  @media (max-width: 768px) {
    width: 70px;
    height: 70px;
  }
}

.item-title-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.item-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.item-price {
  font-size: 18px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
